*{
    padding:0px;
    margin:0px;
}

body{
    background-image:url(../image/cs.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#navGen{
    background-color:purple;
    margin-top: 5px;
}

#navGen ul{
    width:50%;
    height:30px;
	margin: 2px;
    position:relative;
    left:20%;
    padding:0;
    list-style:none;
}
#navGen li{
	padding:10px;
	margin:0px 5px 3px 5px;
	display:inline;
	font-family:tahoma;
	position: relative;
    left: 80%;
    font-size: 1.1em;
}

.li{
    color: black;
    text-decoration: none;

}

#header1 h1{
    margin:0px;
    position:absolute;
    top:40px;
    left:40px;
    font-family: tahoma;
    font-size:30px;
    display:block;
    
    }
#header1 h3{
    margin:5px;
    position:absolute;
    top:70px;
    left:40px;
    font-family: tahoma;
    font-size:1em;
    }

    #dataDisplay{
        width: 60%;
        margin-top:10%;
        margin-left:15%;
        border: 2px solid black;
        padding-left: 110px;
        padding-top:10px;
        padding-bottom:10px;
        background-color:purple;
    }

    #container{
        position: fixed;
        top:75%;
        left:10px;
        width:40%;
        padding:5px;
        background-color:purple;
        color:black;
    }

    #container h3{
        text-align:center;
    }
    #container button{
        margin-left:30%;
        display:inline-block;
        width:40%;
        height:40px;
    }
    #display{
        /*top:100px;*/
        margin-top:10px;
        margin-left:0;
        font-size:1em;        
    }

