*{
    padding:0px;
    margin:0px;
}

body{
    background-image:url(../image/mtnb1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#navGen{
    background-color:black;
    margin-top: 5px;
}

#navGen ul{
    width:50%;
    height:30px;
	margin: 2px;
    position:relative;
    left:20%;
    padding:0;
    list-style:none;
}
#navGen li{
	padding:10px;
	margin:0px 5px 3px 5px;
	display:inline;
	font-family:tahoma;
	position: relative;
    left: 80%;
    font-size: 1.1em;
}

.li{
    color:white;
    text-decoration: none;

}

#header1 h1{
    margin:0px;
    position:absolute;
    top:40px;
    left:40px;
    font-family: tahoma;
    font-size:30px;
    display:block;
    
    }
#header1 h3{
    margin:5px;
    position:absolute;
    top:70px;
    left:40px;
    font-family: tahoma;
    font-size:1em;
    }

    #dbOut{
        width: 50%;
        height: 100px;
        margin-top:5%;
        margin-left:5%;
        padding: 20px;
        background-color:black;
        color:white;
    }

    #container{
        position: fixed;
        top:50px;
        bottom:90%;
        right:10px;
        width:30%;
        height:120px;
        padding:5px;
        background-color:black;
        color:white;
    }

    #container h3{
        text-align:center;
    }
    #container button{
        margin-left:30%;
        display:block;
        width:40%;
        height:40px;
    }
    #container input{
        margin-left:30%
    }
    #display{
        display:block;
    }
    #veiw{
        position: fixed;
        top:200px;
        bottom:50%;
        right:10px;
        width:30%;
        height:110px;
        padding:5px;
        background-color:black;
        color:white;
    }

    #veiw h4[first-child]{
        text-align:center
    }
    #veiw button{
       
        width:10%;
        height:30px;
    }

    table tr .edit{
        display:none;
    }

    table tr.edit .edit{
        display:initial;
    }

    table tr.edit .noedit{
        display:none;
    }